@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

:root {
    --avatar-size: 32px;
    --background-image: url('https://cdn.discordapp.com/attachments/1019959256138666069/1088657494399778896/w4zpnHX.jpg');
    --home-image: url('https://cdn.discordapp.com/attachments/1019959256138666069/1088657494399778896/w4zpnHX.jpg');
    background-image: var(--background-image), var(--home-image);
    background-repeat: repeat;
}
